#backgraund{
    background: #ce9c9c;
}
#app{
    background: #fbe4e4;
}
#clasesvista{
    background: #fbe4e4;
}
#infoclasevista{
    background: #fbe4e4;
}
#home{
    background: #fbe4e4;
}
#barra{
    background: #fff5f5;
}